### IMPORTS

In [3]:
import pandas as pd
import numpy as np

## DATA LOADING

In [4]:
# Set pandas options to display all columns
pd.set_option('display.max_columns', None)
# Set pandas options to display all rows
pd.set_option('display.max_rows', None)

teams_post = pd.read_csv("../../datasets/teams_post.csv")
teams = pd.read_csv("../../datasets/teams.csv")
series = pd.read_csv("../../datasets/series_post.csv")

---

# TEAMS

We will start by taking a look at the "teams" dataset.

In [5]:
teams.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,seeded,firstRound,semis,finals,name,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,o_to,o_blk,o_pts,d_fgm,d_fga,d_ftm,d_fta,d_3pm,d_3pa,d_oreb,d_dreb,d_reb,d_asts,d_pf,d_stl,d_to,d_blk,d_pts,tmORB,tmDRB,tmTRB,opptmORB,opptmDRB,opptmTRB,won,lost,GP,homeW,homeL,awayW,awayL,confW,confL,min,attend,arena
0,9,WNBA,ATL,ATL,EA,NaN,7,N,0,NaN,NaN,NaN,Atlanta Dream,895,2258,542,725,202,598,340,737,1077,492,796,285,593,142,2534,1014,2254,679,918,172,502,401,864,1265,684,726,310,561,134,2879,0,0,0,0,0,0,4,30,34,1,16,3,14,2,18,6825,141379,Philips Arena
1,10,WNBA,ATL,ATL,EA,NaN,2,Y,0,L,NaN,NaN,Atlanta Dream,1089,2428,569,755,114,374,404,855,1259,547,741,329,590,121,2861,996,2363,624,807,181,530,353,821,1174,615,700,347,601,133,2797,0,0,0,0,0,0,18,16,34,12,5,6,11,10,12,6950,120737,Philips Arena
2,1,WNBA,CHA,CHA,EA,NaN,8,N,0,NaN,NaN,NaN,Charlotte Sting,812,1903,431,577,131,386,305,630,935,551,713,222,496,90,2186,879,1930,533,716,138,423,326,664,990,596,596,259,426,123,2429,0,0,0,0,0,0,8,24,32,5,11,3,13,5,16,6475,90963,Charlotte Coliseum
3,2,WNBA,CHA,CHA,EA,NaN,4,Y,0,W,W,L,Charlotte Sting,746,1780,410,528,153,428,309,639,948,467,605,217,474,114,2055,732,1846,431,562,114,369,344,567,911,443,579,257,447,124,2009,0,0,0,0,0,0,18,14,32,11,5,7,9,15,6,6500,105525,Charlotte Coliseum
4,3,WNBA,CHA,CHA,EA,NaN,2,Y,0,L,NaN,NaN,Charlotte Sting,770,1790,490,663,211,527,302,653,955,496,647,241,408,105,2241,778,1807,444,598,133,372,295,620,915,489,600,208,424,103,2133,0,0,0,0,0,0,18,14,32,11,5,7,9,12,9,6450,106670,Charlotte Coliseum


The features available in the `teams.csv` dataset are:

- `year` - The year the data was collected (important as the data for a certain year will be used to predict the next year's results);
- `lgID` - The league the team is part of (doesn't impact the model as all teams are from the same league);
- `tmID` - The team ID (important to identify the team and can be used to merge with other datasets);
- `franchID` - The franchise ID (basically the same as the team ID);
- `confID` - The conference ID (considering that four teams from each conference make the playoffs, this feature can be important);
- `divID` - The division ID (this feature will be removed as all rows are NaN);
- `rank` - The team's rank in the division;
- `playoff` - Whether the team made the playoffs or not;
- `seeded` - Whether the team was seeded or not;
- `firstRound`, `semis`, `final` - Whether the team made it to the first round, semis or finals of the playoffs;
- `name` - The team's name;
- `Team Stats` (will be important as the stats directly impact the team performance thus the playoff qualification):
    - `o_fgm` - Opponent field goals made;
    - `o_fga` - Opponent field goals attempted;
    - `o_ftm` - Opponent free throws made;
    - `o_fta` - Opponent free throws attempted;
    - `o_3pm` - Opponent three-pointers made;
    - `o_3pa` - Opponent three-pointers attempted;
    - `o_oreb` - Opponent offensive rebounds;
    - `o_dreb` - Opponent defensive rebounds;
    - `o_reb` - Opponent total rebounds;
    - `o_asts` - Opponent assists;
    - `o_pf` - Opponent personal fouls;
    - `o_stl` - Opponent steals;
    - `o_to` - Opponent turnovers;
    - `o_blk` - Opponent blocks;
    - `o_pts` - Opponent points;
    - `d_fgm` - Defensive field goals made;
    - `d_fga` - Defensive field goals attempted;
    - `d_ftm` - Defensive free throws made;
    - `d_fta` - Defensive free throws attempted;
    - `d_3pm` - Defensive three-pointers made;
    - `d_3pa` - Defensive three-pointers attempted;
    - `d_oreb` - Defensive offensive rebounds;
    - `d_dreb` - Defensive defensive rebounds;
    - `d_reb` - Defensive total rebounds;
    - `d_asts` - Defensive assists;
    - `d_pf` - Defensive personal fouls;
    - `d_stl` - Defensive steals;
    - `d_to` - Defensive turnovers;
    - `d_blk` - Defensive blocks;
    - `d_pts` - Defensive points;
    - `tmORB` - Team offensive rebounds (maintains value 0 for all rows, will be removed);
    - `tmDRB` - Team defensive rebounds (maintains value 0 for all rows, will be removed);
    - `tmTRB` - Team total rebounds (maintains value 0 for all rows, will be removed);
    - `opptmORB` - Opponent team offensive rebounds (maintains value 0 for all rows, will be removed);
    - `opptmDRB` - Opponent team defensive rebounds (maintains value 0 for all rows, will be removed);
    - `opptmTRB` - Opponent team total rebounds (maintains value 0 for all rows, will be removed);
    - `won` - Number of games won;
    - `lost` - Number of games lost;
    - `GP` - Games played;
    - `homeW` - Home wins;
    - `homeL` - Home losses;
    - `awayW` - Away wins;
    - `awayL` - Away losses;
    - `confW` - Conference wins;
    - `confL` - Conference losses;
    - `min` - Minutes played;
- `attend` - Attendance (probably not relevant for the model);
- `arena` - Arena name (categorical feature that will probably not be impactful for the model);

In [6]:
teams.describe()

,year,divID,rank,seeded,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,o_to,o_blk,o_pts,d_fgm,d_fga,d_ftm,d_fta,d_3pm,d_3pa,d_oreb,d_dreb,d_reb,d_asts,d_pf,d_stl,d_to,d_blk,d_pts,tmORB,tmDRB,tmTRB,opptmORB,opptmDRB,opptmTRB,won,lost,GP,homeW,homeL,awayW,awayL,confW,confL,min,attend
count,142.000000,0.0,142.000000,142.0,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.0,142.0,142.0,142.0,142.0,142.0,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,5.302817,NaN,4.084507,0.0,860.387324,2039.683099,488.338028,651.366197,157.161972,463.014085,330.500000,730.929577,1061.429577,520.830986,653.929577,263.112676,510.450704,122.077465,2366.274648,860.380282,2039.676056,488.338028,651.366197,157.161972,463.014085,330.514085,730.922535,1061.436620,520.830986,653.915493,263.112676,510.450704,122.070423,2366.260563,0.0,0.0,0.0,0.0,0.0,0.0,16.661972,16.661972,33.323944,10.169014,6.492958,6.492958,10.169014,10.563380,10.563380,6735.683099,141050.253521
std,2.917274,NaN,2.095226,0.0,86.998969,176.879707,70.749372,86.035246,43.736580,116.166119,41.191432,83.378114,105.393245,54.625738,60.978039,34.912880,50.873585,26.136324,243.154860,82.547277,183.678935,70.896377,90.051245,30.482093,82.147246,33.743659,78.264153,100.099983,50.782106,51.319814,26.644521,54.038019,20.658537,234.615384,0.0,0.0,0.0,0.0,0.0,0.0,4.999131,4.999131,0.949425,2.994017,2.967308,2.702104,2.731409,3.485461,3.485461,197.851093,34714.358519
min,1.000000,NaN,1.000000,0.0,647.000000,1740.000000,333.000000,469.000000,62.000000,205.000000,242.000000,537.000000,793.000000,390.000000,467.000000,187.000000,408.000000,63.000000,1822.000000,664.000000,1676.000000,325.000000,444.000000,92.000000,315.000000,267.000000,567.000000,873.000000,388.000000,538.000000,197.000000,390.000000,71.000000,1788.000000,0.0,0.0,0.0,0.0,0.0,0.0,4.000000,4.000000,32.000000,1.000000,0.000000,1.000000,3.000000,2.000000,2.000000,6400.000000,57635.000000
25%,3.000000,NaN,2.000000,0.0,794.500000,1908.500000,435.250000,582.750000,128.250000,389.000000,301.250000,653.250000,969.250000,478.500000,617.000000,241.250000,470.500000,101.250000,2185.250000,800.750000,1889.000000,442.250000,591.250000,135.000000,401.750000,307.250000,676.250000,983.000000,491.250000,616.000000,244.250000,470.250000,109.000000,2196.750000,0.0,0.0,0.0,0.0,0.0,0.0,13.000000,14.000000,32.000000,8.000000,4.250000,5.000000,9.000000,8.000000,8.000000,6500.000000,120897.500000
50%,5.000000,NaN,4.000000,0.0,864.000000,2025.000000,483.500000,650.000000,157.000000,459.000000,333.500000,724.000000,1069.500000,520.000000,648.000000,261.500000,508.000000,121.000000,2340.000000,856.500000,2016.000000,480.000000,643.500000,153.500000,456.000000,327.000000,720.000000,1048.000000,516.000000,649.000000,262.000000,503.000000,123.000000,2339.500000,0.0,0.0,0.0,0.0,0.0,0.0,17.000000,16.000000,34.000000,11.000000,6.000000,6.000000,10.000000,11.000000,10.000000,6825.000000,135895.500000
75%,8.000000,NaN,6.000000,0.0,915.000000,2177.500000,539.000000,716.500000,180.750000,528.000000,356.750000,788.000000,1142.000000,556.750000,696.500000,284.000000,540.750000,138.000000,2531.500000,909.000000,2184.000000,530.500000,708.500000,173.750000,517.000000,350.000000,786.000000,1117.250000,545.750000,686.500000,277.000000,545.500000,136.750000,2522.750000,0.0,0.0,0.0,0.0,0.0,0.0,20.000000,20.000000,34.000000,12.000000,8.000000,8.000000,12.000000,13.000000,13.000000,6875.000000,150441.500000
max,10.000000,NaN,8.000000,0.0,1128.000000,2485.000000,668.000000,882.000000,283.000000,802.000000,452.000000,931.000000,1311.000000,683.000000,796.000000,373.000000,637.000000,216.000000,3156.000000,1094.000000,2582.000000,694.000000,932.000000,290.000000,762.000000,445.000000,945.000000,1390.000000,684.000000,778.000000,347.000000,649.000000,206.000000,3031.000000,0.0,0.0,0.0,0.0,0.0,0.0,28.000000,30.000000,34.000000,16.000000,16.000000,13.000000,16.000000,19.000000,19.000000,7025.000000,259237.000000

Taking a look at the columns information, we can see that there are some columns that will not be useful for the model: 

- 'lgID' -> the league is the same for all teams;
- 'franchID' -> the franchise ID is the same as the team ID;
- 'divID' -> all rows are NaN;
- 'name', 'arena' -> these are categorical features that will not be used to predict the playoffs, since the tmID is enough to identify the team;
- 'firstRound', 'semis', 'finals' -> these columns are the result of the playoffs and will not be used to predict the playoffs;
- 'seeded', 'tmORB', 'tmDRB', 'tmTRB', 'opptmORB', 'opptmDRB', 'opptmTRB' -> these columns are not useful for the model, since their values are always 0.

--- 

## TEAMS_POST

We will now take a look at the `teams_post.csv` dataset.

In [7]:
teams_post.head()

   year tmID  lgID  W  L
0     1  HOU  WNBA  6  0
1     1  ORL  WNBA  1  2
2     1  CLE  WNBA  3  3
3     1  WAS  WNBA  0  2
4     1  NYL  WNBA  4  3

The `teams_post.csv` is a simple dataset that contains the playoff results for each team in the dataset.

The features available in the `teams_post.csv` dataset are:

- `year` - The year the data was collected, which is important as the data for a certain year will be used to predict the next year's results;
- `tmID` - The team ID, used to identify the team;
- `lgID` - The League ID, which is the same for all teams;
- `W` - Number of wins in the playoffs;
- `L` - Number of losses in the playoffs;

In [8]:
teams_post.describe()

            year          W          L
count  80.000000  80.000000  80.000000
mean    5.500000   2.350000   2.350000
std     2.890403   2.228129   0.843441
min     1.000000   0.000000   0.000000
25%     3.000000   1.000000   2.000000
50%     5.500000   1.500000   2.000000
75%     8.000000   3.250000   3.000000
max    10.000000   7.000000   5.000000

In this dataset, `LgID` is the only one useful for the model, since it is the same for all teams.


---

## Series_Post

Finally, we will study the `series_post.csv` dataset.

In [9]:
series.head()

   year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0     1    FR      A        CLE       WNBA       ORL      WNBA  2  1
1     1    FR      B        NYL       WNBA       WAS      WNBA  2  0
2     1    FR      C        LAS       WNBA       PHO      WNBA  2  0
3     1    FR      D        HOU       WNBA       SAC      WNBA  2  0
4     1    CF      E        HOU       WNBA       LAS      WNBA  2  0

The available features in the `series_post.csv` dataset are:

- `year` - The year the data was collected, which is important as the data for a certain year will be used to predict the next year's results;
- `round` - The round of the playoffs. It can have the following values: 
  - `FR` - First Round;
  - `CF` - Semifinals;
  - `F` - Finals.
- `series` - The series number. It goes from A to G in each year, identifying the series and the game itself;
- `tmIDWinner` - The team ID of the winner;
- `lgIDWinner` - The league ID of the winner;
- `tmIDLoser` - The team ID of the loser;
- `lgIDLoser` - The league ID of the loser;
- `W` - Number of wins of the winner;
- `L` - Number of losses of the winner;

The `series_post.csv` dataset will be useful to create the target variable for the model, which will be the playoff qualification. With this dataset, we can create a column that can give us some insights about the team's performance in the playoffs.

In [11]:
series.describe()

           year          W          L
count  70.00000  70.000000  70.000000
mean    5.50000   2.071429   0.614286
std     2.89302   0.259399   0.572127
min     1.00000   2.000000   0.000000
25%     3.00000   2.000000   0.000000
50%     5.50000   2.000000   1.000000
75%     8.00000   2.000000   1.000000
max    10.00000   3.000000   2.000000

There are no columns with NaN values in this dataset, which is good for the model.
However, there are some useless columns that will be removed:

- `lgIDWinner`, `lgIDLoser` -> the league ID is the same for all teams;
- `series` -> this column is not useful for the model, since it is just an identifier for the series and repeats itself every year. Also, We already have the `round` column to identify the round of the playoffs;

Depending on the model, the `round` column can also be removed, since we can focus on the number of wins and losses to predict the playoff qualification.